body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color:#000;
    color:#fff;
    overflow:hidden;
}

.container{
    height:100vh;
    width:100%;
    display:flex;
    padding:0.5rem;
    gap:0.5rem;
}

.sidebar{
    height:100%;
    width:40rem;
    display:flex;
    gap:8px;
    flex-wrap:wrap;
}

.content{
    width:100%;
    border-radius:1rem;
    height:100vh;
    /* margin-right:0.5rem; */
    overflow:auto;
    /* top:0px; */
    background-color:rgba(128, 128, 128, 0.11);
    /* z-index:0; */
}

.music-player{
    position:fixed;
    bottom:0px;
    height:92px;
    width:100%;
    z-index:1;
    background-color:#000;
    display:flex;
    gap:4px;
}

.nav-menu{
    width:100%;
    height:7rem;
    padding:8px 12px;
    background-color:rgba(128, 128, 128, 0.11);
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* line-height:28%; */
}

a, span{
    text-decoration:none;
    color:white;
    margin-left:7%;
    font-size:18px;
}

#search{
    opacity:0.58;
}

#search:hover{
    opacity:1;
    transition:all ease 1s;
}

i{
    font-size:20px;
    text-align:center;
    /* line-height:100%; */
}

.opt{
    line-height:3rem;
}

.library{
   height:100%;
   width:100%;
   background-color:rgba(128, 128, 128, 0.11);
   border-radius:1rem;
   padding:8px;
}

.nav-bar{
    position:sticky;
    top:0px;
    padding:16px;
    display:flex;
    justify-content:space-between;
    background-color:#121212; 
    z-index:1;
}

.arrows{
    display:flex;
    gap:10px;
   
}

.arrows .btn{
    height:35px;
    width:40px;
    background-color:rgba(0, 0, 0, 0.3);
    line-height:35px;
    text-align:center;
    border-radius:50%;
}

.options {
    display:flex;
    gap:10px;
}

#explore{
    background-color:#fff;
    color:#000;
    width:150px;
    height:35px;
    font-size:13px;
    font-weight:bold;
    border-radius:15px;
}

#ins-app{
    background-color:#000000bc;
    border:1px #000000bc solid;
    color:#fff;
    width:120px;
    height:34px;
    font-size:13px;
    font-weight:bold;
    border-radius:15px;
    line-height:36px;
}

#ins-app i{
    margin-right:8px;
}

.user{
    background-color:rgba(0, 0, 0, 0.3) ;
    height:35px;
    width:40px;
    line-height:35px;
    text-align:center;
    border-radius:50%;
    margin-right:10px;
}

@media(max-width:1000px){
    .nav-bar .hide{
        display:none;
    }
}

.main-content{
    background-color:#121212;
    /* width:100%; */
    padding-left:16px;
    /* margin-top:-20px; */
    padding-top:0.5px;
    

}

.collection{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    gap:2rem;
    padding-bottom:1rem;
} 

.card{
    height:20rem;
    padding:15px;
    width:12rem;
    background-color:rgba(128, 128, 128, 0.092);
    border-radius:10px;
    
}

.card:hover{
    background-color: rgba(128, 128, 128, 0.2);
    transition: all 1s ease-in-out;
}

.card img{
    /* height:100%; */
    width:100%;
    border-radius: 10px;
}

.card-title{
    font-family:bold;
    font-size:22px;

}

.card-info{
    opacity:0.7;
    font-size:small;
}

.about{
    height:520px;
    width:100%;
    background-color:rgba(128, 128, 128, 0.001);
    padding:8px 32px 40px 32px;
    display:flex;
    flex-wrap:wrap;
}

.description{
    width:36.5rem;
    height:70%;
    display:flex;
    flex-wrap:wrap;
}

.section{
    width:13rem;
}

.section .sp{
    opacity:0.7;
}

.icons{
    display:flex;
    flex:1;
    justify-content:flex-end;
    gap:15px;
}

.social-media{
    height:50px;
    width:50px;
    background-color:rgba(128, 128, 128, 0.092);
    border-radius:50%;
    line-height:50px;
    text-align:center;
}

.footer{
    width:100%;
    padding-top:30px;
    
}

.footer hr{
    opacity:0.09;
}

.footer .last{
    padding-top:15px;
    display:flex;
    justify-content:flex-start;
    opacity:0.6;
    padding-bottom:120px;
    gap:5px;
    flex-wrap:wrap;
}

.last p{
    margin-left:15px;
    font-size:15px;
    text-align:start;
}

.library-option {
    height:44px;
    display:flex;
}

.library img{
    height :20px;
    margin-left:35px;
    margin-top:9px;
    opacity : 0.7;    
}

.library span{
    margin-left:20px;
    opacity:0.7;
}

.plus{
    flex:1;
    margin-right:28px;
    /* background-color: blue; */
    text-align:right ;
    padding-top:9px;
}

.library img, .library span:hover{
    opacity:1;
    cursor: pointer;
}

.lib-icon{
    margin-left: 7.3rem;
}

.right{
    width:50%;
}

.right a{
    margin-right:40px;
}

.library-content{
    display:flex;
    flex-direction: column;
    padding:15px 6px 6px;
    gap:25px;
}

.lib-box{
    background-color:rgba(128, 128, 128, 0.21);
    /* height:100px; */
    border-radius:10px;
    padding:16px 20px;
}

.box-p1{
    font-size:17px;
    font-weight: bold;
    height:40px;
}

.box-p2{
    font-size:13px;
    height:35px;
    
}

.badge{
    background-color:#fff;
    color:#000;
    width:150px;
    height:35px;
    font-size:13px;
    font-weight:bold;
    border-radius:15px;
}

.middle{
    width:50%;
    display:flex;
    flex-direction:column;
    
}

.right{
    width:25%;
}

.controls{
    align-items:center;
    height:70%;
    padding:0px 30px 0px 30px;
    display: flex;
    justify-content: center;
}

.play-bar{
    /* height:30%; */
    display:flex;
    justify-content:center;
    align-items:center;
}

.controls i{
    margin-right:1.5rem;
    height:1rem;
    font-size:1.5rem;
    opacity:0.3;
}

.side-icon{
    opacity:0.19;
}

.controls i:hover{
    opacity: 1;
}

.time{
    margin:0px;
    font-size: 12px;
    opacity:0.5;
}

.progress-bar{
    width:70%;
    /* appearance:auto; */
    /* background-color:rgba(128, 128, 128, 0.39); */
    margin:2px;
    cursor: pointer;
    accent-color:rgb(23, 101, 23);
}

.progress-bar::-webkit-slider-runnable-track{
    height:0.3rem;
    border-radius: 100px;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:0.7rem;
    width:0.7rem;
    border-radius: 50%;
    /* background-color:hsla(0, 0%, 100%, 0.4); */
    margin-top:-4px;
}

.right{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    opacity:0.7;
    font-size:10px;
}

.right input {
    
    cursor: pointer;
    accent-color:rgb(23, 101, 23);
}

.right input::-webkit-slider-runnable-track{
    height:5px;
    border-radius:100px;
}

.right input::-webkit-slider-thumb{
    height:1px;
    width:1px;
    border-radius:50%;
    margin-top:-5px;
}

.left{
    width:25%;
    padding-left:1.3rem;
    display:flex;
    gap:15px;
    padding:0px;
}

.photo{
    width:25%;
}

.left img{
    height:100%;
    width:100%;
    margin:5px 7px 5px 4px;
}

.about-song{
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:12px;
}

.about-song a {
    font-size:15px;
    opacity:0.7;
}

.about-song a:hover{
    text-decoration: underline;
    opacity: 1;
}
.extra-icons{
    width:25%;
    display:flex;
    gap:1rem;
    justify-content: flex-start;
    align-items: center;
    opacity:0.7;
}

.extra-icons:hover{
    opacity: 1;
}
    




